<div class="material-nav-header">
    <h3 class="material-nav-title">Navigation</h3>
</div>

<div class="material-nav-content">
    <nav class="material-nav-list">
        <NavLink class="material-nav-item material-nav-item--active" href="" Match="NavLinkMatch.All">
            <span class="material-icons material-nav-icon">home</span>
            <span class="material-nav-text">Home</span>
        </NavLink>
        
        <NavLink class="material-nav-item" href="repositories">
            <span class="material-icons material-nav-icon">folder</span>
            <span class="material-nav-text">Repositories</span>
        </NavLink>
        
        <NavLink class="material-nav-item" href="settings">
            <span class="material-icons material-nav-icon">settings</span>
            <span class="material-nav-text">Settings</span>
        </NavLink>
    </nav>
</div>

